
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Petrona', serif;
  font-family: 'Roboto', sans-serif;
}

html  {
 
}
body {
  max-width: 4000px;
  min-width: 600px;
  font: 15px/1.5;
  background-color: #ffffff;
  width: 100%;
  display: inline-block;

}

header {
  width: 98%;
  background-image: url(../img/01855930d6c988a97572616b93d08f31253ba8a72d.jpg);
  padding: 100px 0px 20px 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-shadow: .5px .25px gray;

}

main  {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h5  {
  font-family: 'Roboto' , sans-serif;
}

p, a  {
  font-family: 'Petrona' , serif;
}
#title  {
  background-color: rgb(111, 78, 55, .85);
  position: sticky;
  width: auto;
  font-family: 'Roboto', sans-serif;
}

nav {
  position: sticky;
  background-color:rgb(111, 78, 55, .85);
  width: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 2px;
  padding: 2px;
  list-style-type: none;
  background-color: #6f4e37;
  color: white;
}

nav ul li {
  color: white;
}
nav ul li a {
  margin: 2px;
  padding: 2px;
  text-decoration: none;
  color: white;
  }

li a:hover {
  background-color: gray;
  color: black;
}

li a:active {
  background-color: gray;
  color: white;
}

li a:visited {
  color: black;
}

a:visited {
  color: black;
}

#contactForm {
  background-image: url(../img/01967ceb99b1299b383c1dabe4acef6de958c9d57e.jpg);
  width: auto;
  
  
}

main img  {
  width: 300px;
  height: 300px;
  border: 2px solid brown;
  border-radius: 50%;
}
.contact {
  text-align: center;
}
.class {
  margin: auto;
}

footer {
  color: #cfcfcf;
  text-align: center;
  background-image: url(../img/IMG_0004.JPG);
  height: 100px;
  padding-top: 20px;
  font-weight: 900;
  max-width: 98%;
  
}
.credit {
  font-size: .25em;
}
