/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Petrona', serif;
  font-family: 'Roboto', sans-serif;
}

html  {
 
}


/* Need Nav formating and event listeners */

/* Header Format */
header  {
  background-image: url("../img/soap_header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: antiquewhite;
  text-shadow: .5px .25px gray;
  top: 0;
  position: relative;
}

/* #title formating and js file */
 
.gallery  {
  background-image: url(../img/soap_header.jpg);
  background-size: 100%;
}
#title {
   background-color: rgb(143, 77, 7, .85);
   background-size: 100%;
   position: fixed;
   top: 0;
 }

